* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}

a {
    text-decoration: none;
}