footer{
    background-color: $grayy;

    .footer_page{
        display: flex;
        align-items: flex-end;
        padding: 50px 0px;

        .left {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: 50%;
        }

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            
            h1{
                font-family: $fonts;
            font-weight: 600;
            font-size: 20px;
            line-height: 16px;
            color: $white_color;
            text-transform: uppercase;
            margin-left: 5px;
            }

            img {
            width: 20px;
            }
        }
    
    .adress a {
        font-family: sans-serif;
        color: $gray;
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }

    .right{
        width: 50%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        color: $gray;
        
    }
}

}